# Python-related
venv/
__pycache__/
*.pyc
*.pyo
.env

# Ignore tokens and secrets
backend/tokens.json

# Node-related (for React)
node_modules/
npm-debug.log
yarn-error.log

# OS-related
.DS_Store
Thumbs.db

# Logs
*.log

# React build files
build/

__pycache__
README.md